[submodule ".gopath/src/github.com/spacemonkeygo/errors"]
	path = .gopath/src/github.com/spacemonkeygo/errors
	url = https://github.com/polydawn/errors
[submodule ".gopath/src/github.com/codegangsta/cli"]
	path = .gopath/src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule ".gopath/src/github.com/ugorji/go"]
	path = .gopath/src/github.com/ugorji/go
	url = https://github.com/ugorji/go.git
[submodule ".gopath/src/github.com/smartystreets/goconvey"]
	path = .gopath/src/github.com/smartystreets/goconvey
	url = http://github.com/smartystreets/goconvey.git
[submodule ".gopath/src/github.com/jtolds/gls"]
	path = .gopath/src/github.com/jtolds/gls
	url = http://github.com/jtolds/gls.git
[submodule ".gopath/src/github.com/smartystreets/assertions"]
	path = .gopath/src/github.com/smartystreets/assertions
	url = http://github.com/smartystreets/assertions
[submodule ".gopath/src/github.com/polydawn/gosh"]
	path = .gopath/src/github.com/polydawn/gosh
	url = https://github.com/polydawn/gosh.git
[submodule ".gopath/src/github.com/rlmcpherson/s3gof3r"]
	path = .gopath/src/github.com/rlmcpherson/s3gof3r
	url = https://github.com/rlmcpherson/s3gof3r.git
[submodule ".gopath/src/github.com/inconshreveable/log15"]
	path = .gopath/src/github.com/inconshreveable/log15
	url = https://github.com/inconshreveable/log15.git
[submodule ".gopath/src/github.com/mattn/go-colorable"]
	path = .gopath/src/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable.git
[submodule ".gopath/src/github.com/go-yaml/yaml"]
	path = .gopath/src/github.com/go-yaml/yaml
	url = https://github.com/go-yaml/yaml.git
[submodule ".gopath/src/xi2.org/x/xz"]
	path = .gopath/src/xi2.org/x/xz
	url = https://github.com/xi2/xz.git
[submodule ".gopath/src/google.golang.org/api"]
	path = .gopath/src/google.golang.org/api
	url = https://code.googlesource.com/google-api-go-client
[submodule ".gopath/src/google.golang.org/cloud"]
	path = .gopath/src/google.golang.org/cloud
	url = https://code.googlesource.com/gocloud
[submodule ".gopath/src/golang.org/x/oauth2"]
	path = .gopath/src/golang.org/x/oauth2
	url = https://go.googlesource.com/oauth2
[submodule ".gopath/src/golang.org/x/net"]
	path = .gopath/src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule ".gopath/src/golang.org/x/crypto"]
	path = .gopath/src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule ".gopath/src/gopkg.in/sourcegraph/go-vcsurl.v1"]
	path = .gopath/src/gopkg.in/sourcegraph/go-vcsurl.v1
	url = https://gopkg.in/sourcegraph/go-vcsurl.v1
[submodule ".gopath/src/gopkg.in/src-d/go-git.v3"]
	path = .gopath/src/gopkg.in/src-d/go-git.v3
	url = https://gopkg.in/src-d/go-git.v3
[submodule ".gopath/src/github.com/sourcegraph/go-vcsurl"]
	path = .gopath/src/github.com/sourcegraph/go-vcsurl
	url = https://github.com/sourcegraph/go-vcsurl
[submodule ".gopath/src/github.com/src-d/go-git"]
	path = .gopath/src/github.com/src-d/go-git
	url = https://github.com/src-d/go-git
[submodule ".gopath/src/github.com/klauspost/cpuid"]
	path = .gopath/src/github.com/klauspost/cpuid
	url = https://github.com/klauspost/cpuid
[submodule ".gopath/src/github.com/klauspost/compress"]
	path = .gopath/src/github.com/klauspost/compress
	url = https://github.com/klauspost/compress
[submodule ".gopath/src/github.com/sergi/go-diff"]
	path = .gopath/src/github.com/sergi/go-diff
	url = https://github.com/sergi/go-diff
