[submodule ".gopath/src/github.com/spacemonkeygo/errors"]
	path = .gopath/src/github.com/spacemonkeygo/errors
	url = https://github.com/polydawn/errors
[submodule ".gopath/src/github.com/codegangsta/cli"]
	path = .gopath/src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule ".gopath/src/github.com/ugorji/go"]
	path = .gopath/src/github.com/ugorji/go
	url = https://github.com/ugorji/go.git
[submodule ".gopath/src/github.com/smartystreets/goconvey"]
	path = .gopath/src/github.com/smartystreets/goconvey
	url = http://github.com/smartystreets/goconvey.git
[submodule ".gopath/src/github.com/jtolds/gls"]
	path = .gopath/src/github.com/jtolds/gls
	url = http://github.com/jtolds/gls.git
[submodule ".gopath/src/github.com/smartystreets/assertions"]
	path = .gopath/src/github.com/smartystreets/assertions
	url = http://github.com/smartystreets/assertions
[submodule ".gopath/src/github.com/polydawn/gosh"]
	path = .gopath/src/github.com/polydawn/gosh
	url = https://github.com/polydawn/gosh.git
[submodule ".gopath/src/github.com/rlmcpherson/s3gof3r"]
	path = .gopath/src/github.com/rlmcpherson/s3gof3r
	url = https://github.com/rlmcpherson/s3gof3r.git
[submodule ".gopath/src/github.com/inconshreveable/log15"]
	path = .gopath/src/github.com/inconshreveable/log15
	url = https://github.com/inconshreveable/log15.git
[submodule ".gopath/src/github.com/mattn/go-colorable"]
	path = .gopath/src/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable.git
[submodule ".gopath/src/github.com/go-yaml/yaml"]
	path = .gopath/src/github.com/go-yaml/yaml
	url = https://github.com/go-yaml/yaml.git
